.menu h1{
color:#262626;
font-size: 3vw;
}
.menu p{
    color:#262626;
    font-size: 1.2vw;
}
.menu-p{
    color:#808080;
    max-width: 60%;
}
.list-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0px;
    gap:30px;
    text-align: center;
    overflow-y:scroll;
}
.list-item::-webkit-scrollbar{
    display:none;
}
.item img{
    width:7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
}
.item p{
    margin-top: 10px;
    color:#747474;
    font-size:max(1.4vw,16px);
    cursor:pointer;
    
}
hr{
    margin: 10px 0px;
    height:2px;
    background-color:#e2e2e2;
    border: none;
}

.item .active{
    border:3px solid tomato;
    padding:2px;   
}