.footer{
    color:#d9d9d9;
    background-color:#323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 8vw;
    
}
.footer li{
    cursor:pointer;
}
.left-footer{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.left-footer .img{
    width: 150px;
}
.left-footer p{
    font-size: 1vw;
}
.left-footer,.right-footer,.center-footer{
    width:33.3%;

}
.footer-icons{
    display: flex;
    width:max-content;
    align-items: center;
    gap: 1vw;
}
.center-footer{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-left:9vw;
}
.center-footer ul{
    list-style: none;

}